*{
    margin: 0 auto;
}
.container{
    height: 100%;
    width: 1000x;
    background-image: linear-gradient(darkgreen 50%, lightgray 50%);
    display: flex;
    justify-content: center;
}
.inner-container{
    display: flex;
    height: 300px;
    width: 500px;
    background-image: linear-gradient(to top, aqua 78%, whitesmoke 18%);
    margin: 50px 0px;
    justify-items: center;
    /* align-items: flex-end; */

   
  
}
img{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    margin-left: 30px;
}
p{
    text-align: center;
}
.icons{
    display: flex;
    /* margin-top: 100px; */
    clear: both;

}


